<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <link href="css/style.css" rel="stylesheet">        
    </head>
    <body id="body">
        <section id="conexoes" class="conexoes">
            <div class="header_bloco">
                <i class="fa fa-sitemap"></i>
                CONEXÕES
            </div>
            <div class="conexoes_body">
                <div class="databases">
                    <i class="fa fa-database"></i>
                </div>
                <div class="acoes_conexoes">
                <div class="botoes_conexoes">
                    <button class="botao" id="novaConexao">
                        <div class="icon estilo_icon_tipo_yellow">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="descricao">Criar nova conexão</div>
                    </button>
                </div>
            </div>
            </div>
        </section>
        
        <section id="atividades" class="atividades">
            <div id="consultas" class="consultas">
                <div class="header_bloco">
                    <i class="fa fa-pencil"></i>
                    SCRIPTS SQL
                </div>
                <textarea name="txtSql" id="txtSql" class="txtSql" cols="30" rows="10" placeholder="Insira aqui seu SCRIPT SQL..."></textarea>
            </div>
            <div id="resultados" class="resultados">
                <div class="header_bloco">RESULTADOS</div>
                <div class="gridResultado" id="gridResultado">
                    <table id="tabelaResultados">
                        <tbody class="bodyResultado" id="bodyResultado">
                            <tr>
                                <td>Nenhum registro encontrado</td>
                            </tr>                                                                                               
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section id="acoes" class="acoes">
            <div class="header_bloco">AÇÕES</div>
            <div class="botoes">
                <button class="botao" id="executar">
                    <div class="icon estilo_icon_tipo_green">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="descricao">Executar</div>
                </button>
                <button class="botao" id="refreshUltimaConsulta">
                    <div class="icon estilo_icon_tipo_blue">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="descricao">Última Consulta</div>
                </button>
                <button class="botao" id="cancelar">
                    <div class="icon estilo_icon_tipo_red">
                        <i class="fa fa-stop"></i>
                    </div>
                    <div class="descricao">Cancelar</div>
                </button>
                <!-- <button class="botao">
                    <div class="icon estilo_icon_tipo_yellow">E</div>
                    <div class="descricao">Criar</div>
                </button> -->
            </div>
        </section>
        <script src="scripts.js"></script>
    </body>
</html>