<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">        
    <title>Document</title>
</head>
<body>
    <body id="body_nova_conexao" class="body">
        <section>
            <div class="header_bloco">
                <i class="fa fa-sitemap"></i>
                CONFIGURAR NOVA CONEXÃO
            </div>
        </section>
        <div class="formulario">
            <div class="form_group">
                <label for="" class="form_label">
                    Tipo de Banco:
                </label>
                <select name="tipo_banco" id="tipo_banco" class="form_input">
                    <option value="">Selecione...</option>
                    <option value="sqlite">SQLite</option>
                    <option value="mysql">MySQL</option>
                    <option value="postgres">Postgres</option>
                    <option value="mssql">SQL Server</option>
                </select>
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Endereço do Host:
                </label>
                <input 
                type="text" 
                name="host" 
                id="host" 
                class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Nome da Base:
                </label>
                <input 
                    type="text" 
                    name="nome_database" 
                    id="nome_database" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Database:
                </label>
                <input 
                    type="text" 
                    name="database" 
                    id="database" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Porta:
                </label>
                <input 
                    type="text" 
                    name="porta" 
                    id="porta" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Usuário de Acesso:
                </label>
                <input 
                    type="text" 
                    name="usuario" 
                    id="usuario" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Senha de Acesso:
                </label>
                <input 
                    type="text" 
                    name="senha" 
                    id="senha" 
                    class="form_input"
                />
            </div>

            <div class="botoes">
                <button class="botao" id="salvar">
                    <div class="icon estilo_icon_tipo_green">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="descricao">Salvar Conexão</div>
                </button>
                <button class="botao" id="limpar">
                    <div class="icon estilo_icon_tipo_red">
                        <i class="fa fa-stop"></i>
                    </div>
                    <div class="descricao">Limpar</div>
                </button>
            </div>
        </div>
    </body>
    <script src="nova_conexao.js"></script>
</body>
</html>