<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">        
    <title>Document</title>
</head>
<body>
    <body id="body_nova_conexao" class="body">
        <section>
            <div class="header_bloco">
                <i class="fa fa-sitemap"></i>
                CONFIGURAR NOVA CONEXÃO
            </div>
        </section>
        <form class="formulario">
            <div class="form_group">
                <label for="" class="form_label">
                    Nome da Base:
                </label>
                <input 
                    type="text" 
                    name="" 
                    id="" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Endereço do Host:
                </label>
                <input 
                    type="text" 
                    name="" 
                    id="" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Porta:
                </label>
                <input 
                    type="text" 
                    name="" 
                    id="" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Usuário de Acesso:
                </label>
                <input 
                    type="text" 
                    name="" 
                    id="" 
                    class="form_input"
                />
            </div>
            <div class="form_group">
                <label for="" class="form_label">
                    Senha de Acesso:
                </label>
                <input 
                    type="password" 
                    name="" 
                    id="" 
                    class="form_input"
                />
            </div>

            <div class="botoes">
                <button class="botao" id="executar">
                    <div class="icon estilo_icon_tipo_green">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="descricao">Salvar Conexão</div>
                </button>
                <button class="botao" id="executar">
                    <div class="icon estilo_icon_tipo_red">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="descricao">Cancelar</div>
                </button>
            </div>
        </form>
    </body>
    <script src="scripts.js"></script>
</body>
</html>