@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

/* TAGS HTML */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;        
}
html {
    font-size: 68%;
}
div, tr, td, th, ul, li {
    display: flex;
}
button {
    cursor: pointer;
}
button:active {
    opacity: 0.6;
}
td, th {    
    flex: 1;
    width: 100%;    
    /* align-items: center; */
    justify-content: center;
}

/* SELETORES */
.body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #222;
    color: #FFF;
}
#body {
    overflow: hidden;
}
.conexoes {
    flex: 2;
    /* width: 250px; */
    background: #333;
}
.conexoes_body {
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}
.conexoes .databases {
    flex: 10;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%;
    overflow: auto;
    /* border: 1px solid black; */
}
.databases .basesConfiguradas {
    flex-direction: column;
}
.item_base {
    cursor: pointer;    
}
.item_base:hover {
    background: #2228;
}
.conexoes .databases .basesConfiguradas>li {
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #5555;
}
li .cabecalho {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
    cursor: pointer;
}
li .lista_tabelas {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #333;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 1rem;
}
ul .lista_tabelas_oculta {
    display: none;
    /* background: red; */
}
.lista_tabelas .tabela {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 1px 0;
    padding: 5px;
    padding-left: 40px;
    width: 100%;    
}
.lista_tabelas .tabela i {
    margin: 0 5px;
}
.conexoes .databases .basesConfiguradas>li .icon_radio {
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
li .icon_radio input {
    margin: 0 5px;
}
.base_selecionada {
    background: #5555;
}
.conexoes .databases li .nome_base {
    flex: 5;
    font-size: 1rem;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 5px;
}
.conexoes .acoes_conexoes {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    padding: 8px;
    height: 100px;
}
.botoes_conexoes {
    width: 100%;
}
.botoes_conexoes .botao {
    /* height: 30px; */
    flex: 1;
}
.botoes_conexoes .botao .descricao {
    background: #555;
}
.expandeListaTabelas {
    display: flex;
    border: none;
    color: #FFF;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background: none;
    justify-self: flex-end;
    margin-right: 5px;
}
.expandeListaTabelas i {
    flex: 1;
    height: 100%;
}
.atividades {
    display: flex;
    flex: 7;
    width: 100%;
    overflow: hidden;
    /* margin: 0 5px; */
}
.acoes {
    flex: 2;
    /* justify-content: flex-end; */
}
.acoes .botoes {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 6px;
}
.botao {
    /* flex: 1; */
    width: 100%;
    font-size: 1rem;
    height: 30px;
    margin: 5px 0;
    margin-left: 6px;
    border: none;
    border-radius: 0;    
    transform: skew(-25deg);
    display: flex;
    align-items: center;    
}
.botao .icon {
    flex: 1;
    font-size: 1.2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.botao .descricao {
    flex: 4;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #FFF;
}

.estilo_icon_tipo_green {
    background: #069e40;
    color: #FFF;
}
.estilo_icon_tipo_blue {
    background: #0a6cc7;
    color: #FFF;
}
.estilo_icon_tipo_red {
    background: #f71d1d;
    color: #FFF;
}
.estilo_icon_tipo_white {
    background: white;
    color: #333;
}
.estilo_icon_tipo_yellow {
    background: #fae422;
    color: #333;
}
.conexoes, .atividades, .acoes {
    padding: 0 5px;
    display: flex;
    flex-direction: column;    
}
.consultas, .resultados {   
    /* border: 1px solid black; */
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}
.resultados .header_bloco .countResultado {
    flex: 1;
    justify-self: flex-end;
    justify-content: flex-end;
    padding: 0 10px;
}
.header_bloco {
    align-items: center;
    padding: 6px;
    font-size: 1.1rem;
    color: #CCC;
    background: #555;
    margin: 5px 0;
}
.header_bloco i {
    margin-right: 6px;
    font-size: 1.3rem;
}

.txtSql {
    flex: 1;
    background: #333;
    border-radius: 0;
    color: #FFF;
    padding: 10px;
    /* resize: none; */
}

.gridResultado {   
    flex: 1;
    padding: 5px;
    font-size: 1.1rem;
    background: #333;
    overflow: auto;    
}
.gridResultado table {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
}
.headResultado {
    color: #DDD;
    background: #444;
    overflow: hidden;
}
.headResultado td {
    flex: 1;
    padding: 4px;    
}

.bodyResultado {
    color: #BBB;
    /* width: 100%; */
    overflow: hidden;
}
.bodyResultado td {
    border: 1px solid #444;
    white-space:nowrap;
    padding: 4px;
}
.mensagemErro {
    justify-content: center;
    align-items: center;
    color: #ff4444;
    font-weight: bold;
}
/* 
FORMULARIO NOVA CONEXAO
*/
#body_nova_conexao {
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 500px;
    max-height: 500px;
}

.formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;  
    padding: 10px;  
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
}
.formulario .form_group {
    
    width: 100%;
    padding: 5px;    
    align-items: center;
    justify-content: space-between;
}
.form_group .form_label {
    margin: 0 5px;
    flex: 1;
}
.form_group .form_input {
    flex: 2;
    background: #444;
    border-radius: 0;
    color: #FFF;
    border: none;
    padding: 5px;
}
.formulario .botoes {
    width: 90%;    
}
.formulario .botoes .botao .descricao {
    background: #444;
}
option:hover {
    background: #333;
}
/* 
ESTILIZAÇÃO BARRA SCROLL
*/
::-webkit-scrollbar-track {
    background-color: #222;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #444;
}
::-webkit-scrollbar-thumb {
    background: #555;
}
/* 
RESPONSIVIDADE
*/

@media screen and (max-width: 900px) {
    #body {
        flex-direction: column;
    }
    .atividades {
        flex: 8;
        padding: 5px 0;
    }     
    .acoes {
        flex: 1;
    }
    .acoes .botoes {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }
    .botao {
        /* width: 180px; */
    }
    .botao .icon {
        flex: 2;
    }
    .botao .descricao {
        flex: 5;
    }
    .conexoes {
        flex: 1;
        width: 100%;
    }
    .conexoes .conexoes_body {
        flex-direction: row;
        position: relative;
        overflow: visible;
    }
    .conexoes_body {
        justify-content: flex-end;
    }
    .conexoes_body .acoes_conexoes {
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
    }
    .botoes_conexoes .botao {
        height: 20px;
        width: 150px;
        margin-top: 0;
    }
    .botoes_conexoes .botao .icon {
        flex: 1;
    }
    .conexoes .databases .basesConfiguradas {
        overflow: hidden;
        max-height: 40px;
    }
    .conexoes .databases .basesConfiguradas:hover {
        z-index: 15;
        position: absolute;
        left: 0;
        padding: 10px 0;
        padding-bottom: 0;
        /* height: 200px; */
        max-height: 500px;
        width: 100%;
        overflow: auto;
        background: #2F2F2F;
        box-shadow: 0px 4px 3px 1px #444;
    }
    .conexoes .databases li .nome_base {
        flex: 10;
    }
    li .cabecalho {
        justify-content: center;
        padding-bottom: 0;
    }
    .conexoes .databases .basesConfiguradas>li {
        /* border-bottom: none; */
        align-items: flex-start;
        padding: 12px 0;
    }
    .databases .basesConfiguradas li .lista_tabelas, .expandeListaTabelas {
        display: none;
    }
}